In [1]:
import pandas as pd

In [19]:
df1 = pd.read_csv('/Users/rodrigoabreu/Documents/Teddy_thing/Alliant CU 4.29.2022 - Clear Capital.csv')

In [20]:
df2 = pd.read_csv('/Users/rodrigoabreu/Documents/Teddy_thing/Cape & PCRA Data 10.41.03 AM.csv')

In [21]:
df3 = pd.read_csv('/Users/rodrigoabreu/Documents/Teddy_thing/Figure_CAPE_PCR_Data.csv')

In [22]:
target_df = pd.read_csv('/Users/rodrigoabreu/Documents/Teddy_thing/Figure_CAPE_PCR_Data_AllTrades_ECR_Comparison.csv')

In [23]:
from functools import reduce

In [24]:
data_merge = reduce(lambda left, right:     
                     pd.merge(left , right,
                              on = ["ADDRESS"],
                              how = "outer"),
                     [target_df, df3, df2, df1])

/var/folders/cl/p8lq2r2941d6l5mkjz623stm0000gn/T/ipykernel_20627/1799307834.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'CITY_x', 'ZIP_x', 'STATE_x'} in the result is deprecated and will raise a MergeError in a future version.
  pd.merge(left , right,

In [25]:
data_merge.tail(5)

,Figure Trade Num_x,ADDRESS,CITY_x,STATE_x,ZIP_x,Date,cape_exterior_condition_rating_v1.1,cape_exterior_condition_rating_v2,Figure Trade Num_y,CITY_y,...,LANDSCAPE,POOL/SPA,DECK/PATIO,DRIVEWAY,OTHER,ESTIMATED_REPAIR_COSTS,DATE_COMPLETED,DATE_ORDERED,BROKER_LICENSE_NO,PDF
1956,Trade 3,34398 N BARKA TRL,SAN TAN VALLEY,AZ,85143.0,2022-04-24,0.0,2,Trade 3,SAN TAN VALLEY,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0,4/24/2022 11:34AM,4/22/22,BR522060000,https://secure.clearcapital.com/user_data/customer/pdf_archive/D74930A3-D42C-36EE-98120F77BFF52BC0/1-22103-506.pdf
1957,Trade 3,230 SW ROXBURY ST,SEATTLE,WA,98106.0,2022-04-23,2.0,1,Trade 3,SEATTLE,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0,4/23/2022 10:25AM,4/22/22,49560,https://secure.clearcapital.com/user_data/customer/pdf_archive/D74930A3-D42C-36EE-98120F77BFF52BC0/1-22103-666.pdf
1958,Trade 3,7002 127TH PL SE,NEWCASTLE,WA,98056.0,2022-04-23,-1.0,0,Trade 3,NEWCASTLE,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0,4/23/2022 12:45PM,4/22/22,49560,https://secure.clearcapital.com/user_data/customer/pdf_archive/D74930A3-D42C-36EE-98120F77BFF52BC0/1-22104-247.pdf
1959,Trade 3,10501 NELAND ST,RALEIGH,NC,27614.0,2022-04-22,1.0,1,Trade 3,RALEIGH,...,$0.00,$0.00,$0.00,$0.00,$0.00,$0,4/22/2022 9:48AM,4/22/22,252172,https://secure.clearcapital.com/user_data/customer/pdf_archive/D74930A3-D42C-36EE-98120F77BFF52BC0/1-22106-1131.pdf
1960,NaN,826 WHITE CROW ST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1.shape

(712, 44)

In [27]:
df2.shape

(600, 118)

In [28]:
df3.shape

(1958, 5)

In [29]:
data_merge.shape

(1961, 172)

In [30]:
data_merge.to_csv('/Users/rodrigoabreu/Documents/Teddy_thing/merged_file.csv')